@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

*{
  box-sizing: border-box;
  font-family: 'Lato';
  text-align: center;

}

body {
  background-color: #fefefe;
  margin: 0;
  background-image: url('./joanna-kosinska-129039.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 100%;
}

label{
  margin-right: 15px;
}

input {
  opacity: .75;
}

input::placeholder{
  color: #cbcbcb;
}

h1, h2 {
  max-width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  max-width: 50%;
  font-size: 16px;
}

h3 {
  text-align: right;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-around;
  /*background-color: #7dcfe8;*/
  padding-left: 20px;
  padding-right: 20px;
}

.folder-select-container{
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}

.folder-select-container label{
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: left;
}

.folder-title {
  text-align: center;
}

.folder-content {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  display: none;
  margin-top: 25px;
}

.folder-content h2{
  font-weight: 700;
}

.folder-content h4{
  font-size: 16px;
  margin-bottom: 0px;
}

.retrieved-folder {
  display: inline-block;
  margin: 10px;
}

.active-folder {
  border-bottom: 4px solid #7dcfe8;
}

.active {
  display: block;
}

.inactive {
  display: none;
}

.url-shortening{
  margin-top: 20px;
}

.url-shortening input {
  display: inline-block;
}

.url-inputs{
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  text-align: middle;
}

.url-inputs label{
  margin-top: 10px;
  display: block;
  text-align: left;
}

#folder-select{
  width: 100%;
  height: 35px;
  font-size: 20px;
  text-align: center;
}

.appended-url{
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0px 0px 1px #222;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  margin: 12px auto;
  max-width: 80%;
  min-width: 290px;
  padding: 10px;
  text-align: justify;
}

.appended-url h4, p, a{
  display: inline-block;
  margin: 5px 0;
}

.sort-remove{
  display: none;
}

.sort-active{
  display: block;
}


#title, #url{
  width: 100%;
  height: 35px;
  font-size: 20px;
}

#submit-url{
  font-size: 20px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background: #7dcfe8;
  background: -moz-linear-gradient(top, #7dcfe8 0%, #2eb5ea 100%);
  background: -webkit-linear-gradient(top, #7dcfe8 0%,#2eb5ea 100%);
  background: linear-gradient(to bottom, #7dcfe8 0%,#2eb5ea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7dcfe8', endColorstr='#2eb5ea',GradientType=0 );
  width: 100%;
  height: 44px;
  border: 1px solid #aaa;
}

#submit-url:disabled{
  background: #a4bbc2;
  background: -moz-linear-gradient(top, #a4bbc2 0%, #7297a6 100%);
  background: -webkit-linear-gradient(top, #a4bbc2 0%,#7297a6 100%);
  background: linear-gradient(to bottom, #a4bbc2 0%,#7297a6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4bbc2', endColorstr='#7297a6',GradientType=0 );
}

@media (max-width: 500px) {
  h2 {
    display: none;
  }
}
