@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

*{
  box-sizing: border-box;
  font-family: 'Lato';
  text-align: center;

}

body{
  background-color: #fefefe;
}

label{
  margin-right: 15px;
}

input::placeholder{
  color: #cbcbcb;
}

.folder-select-container{
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}

.folder-select-container label{
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: left;
}

.folder-content {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  background-color: #eeeeef;
  box-shadow: 0px 0px 1px #222;
  display: none;
  margin-top: 25px;
}

.folder-content h2{
  font-weight: 700;
}

.folder-content h4{
  font-size: 16px;
  margin-bottom: 0px;
}

.retrieved-folder {
  display: inline-block;
  margin: 10px;
}

.active {
  display: block;
}

.inactive {
  display: none;
}

.url-shortening{
  margin-top: 20px;
}

.url-shortening input {
  display: inline-block;
}

.url-inputs{
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  text-align: middle;
}

.url-inputs label{
  margin-top: 10px;
  display: block;
  text-align: left;
}

#folder-select{
  width: 100%;
  height: 35px;
  font-size: 20px;
  text-align: center;
}

.appended-url{
  text-align: left;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
}

.appended-url h4, p{
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}

.appended-url h4{
  margin-right: 5px;
}

.appended-url div{
  margin-top: 2px;
  margin-bottom: 5px;
}

.sort-remove{
  display: none;
}

.sort-active{
  display: block;
}


#title, #url{
  width: 100%;
  height: 35px;
  font-size: 20px;
}

#submit-url{
  font-size: 20px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background: #7dcfe8;
  background: -moz-linear-gradient(top, #7dcfe8 0%, #2eb5ea 100%);
  background: -webkit-linear-gradient(top, #7dcfe8 0%,#2eb5ea 100%);
  background: linear-gradient(to bottom, #7dcfe8 0%,#2eb5ea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7dcfe8', endColorstr='#2eb5ea',GradientType=0 );
  width: 100%;
  height: 44px;
  border: 1px solid #aaa;
}

#submit-url:disabled{
  background: #a4bbc2;
  background: -moz-linear-gradient(top, #a4bbc2 0%, #7297a6 100%);
  background: -webkit-linear-gradient(top, #a4bbc2 0%,#7297a6 100%);
  background: linear-gradient(to bottom, #a4bbc2 0%,#7297a6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4bbc2', endColorstr='#7297a6',GradientType=0 );
}
